#aquamarineRoomLayout {
    text-align: center;
    margin: 0 30px;
    height: auto;
}

#aquamarineRoomSelect {
    text-align: center;
    max-width: 330px;
    background-color: rgb(58, 57, 56);
    padding: 20px;
    margin: auto;
    height: auto;
    position: relative; /* Add this */
}

.custom-radio input[type="radio"] {
    display: none;
}

/* Create a custom checkmark */
.custom-radio .checkmark {
    margin: 0 5px;
    display: inline-block;
    width: 15%;
    height: 5em;
    border: 1px solid #ffffff;
    position: relative;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 180, 19);
    margin-bottom: 20px;
    z-index: 1; /* Adjust z-index */
}

/* When the radio button is checked, change the content */
.custom-radio input[type="radio"]:checked + .checkmark {
    background-color: blueviolet;
}

.checkmark:hover {
    cursor: pointer;
    background-color: #2f4c30;
}
