#aquamarineRoomPage{
    background-color: rgb(64, 71, 71);
    height: auto;
    color: aliceblue;
    text-align: center;
    
   
}

#aquamarineRoomPage .form-container{
    text-align: center;
    padding: 30px;
   
}
#aquamarineRoomPage select{
    border-radius: 10px;
}
